body{
  margin : 0;
  text-align: center;
  position: relative;
  background-color: #effffb;
}
h1 {
  margin-top: 0;
}
.first-container{
  
}


.second-container {

}

.third-container{

}
.pics{
  height :100px;
  width: 100px;
}
